.DS_Store
.ssh
*.tar
build/*
.vscode
.jj
*.img
*.qcow2
pxeboot_stack/tftpboot/*.efi
pxeboot_stack/www/*
pxeboot_stack/initrd/go.work.sum
pxeboot_stack/initrd/u-root/*
pxeboot_stack/initrd/installer/output/*
pxeboot_stack/boot_handler/bin/*
*_coverage.out
coverage.out
