#!ipxe

echo "Booting pvmlab VM: {{.Name}}"
echo "Distribution: {{.Distro}}"
echo "Architecture: {{.Arch}}"

set base-url http://${next-server}/images/{{.Distro}}/{{.Arch}}
set iso-url http://${next-server}/images/{{.Distro}}/{{.Arch}}/{{.ISOName}}

kernel ${base-url}/vmlinuz initrd=initrd boot=casper ip=dhcp url=${iso-url} autoinstall "ds=nocloud-net;s=http://${next-server}/" console=ttyS0
initrd ${base-url}/initrd

boot
